* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar {
    background-color: #8e44ad;
}

.main-nav {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 20px;
    width: 100%;
}

.pushed {
    margin-left: auto;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 1.3em;
}

.main-nav li a:hover {
    background-color: #522764;
}

/* COVERPAGE */

.website-intro {
    display: block;
}

.website-intro h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    box-shadow: 2px 2px 8px rgb(63, 60, 60);
    width: 250px;
    text-align: center;
    margin: 100px auto 0 auto;

}

.cover {
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70vh;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    overflow-x:hidden;
}

.logo {
    width: 30rem;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 720px) {
    .main-nav {
        padding-left: 0;
        margin: 0;
    }
    
    .main-nav li a {
        font-size: 0.8rem;
        margin: 0;
        padding: 10px;
    }

    .logo {
        width: 20rem;
    }
}