* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
}

/* NAVBAR */

.navbar {
    background-color: #8e44ad;
}

.main-nav {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 20px;
    width: 100%;
}

.pushed {
    margin-left: auto;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 1.3em;
}

.main-nav li a:hover {
    background-color: #522764;
}

/* COVERPAGE */

.website-intro {
    display: block;
}

.website-intro h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 1px;
    width: 300px;
    text-align: center;
    margin: 100px auto 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    box-shadow: 2px 2px 8px #ac6fc6;
    width: 350px;
    text-align: center;
    margin: auto;
    color: #ac6fc6;
}



.cover {
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 70vh;
    margin-top: 20px;
    overflow: auto;
    width: 100%;
    overflow-x:hidden;
}

.logo {
    width: 30rem;
}

/* PROJECTS SECTION */

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 120px;
}

.box {
    border: 1px solid #ac6fc6;
    padding: 30px;
    line-height: 150%;
    font-size: 1.2rem;
    text-align: left;
    word-break: break-all; 
    font-weight: normal;
    color: #ac6fc6;
    -moz-box-shadow: 4px 4px 8px #ac6fc6;
    -webkit-box-shadow: 4px 4px 5px #ac6fc6;
    box-shadow: 4px 4px 5px #ac6fc6;
}


.project-icon {
    font-size: 2.5rem;
}

.projects {
    background-color: #eeece7;
    padding-top: 100px;
}

footer {
    background-color: #522764;
    color: #fff;
    padding: 15px 0 15px 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.copyright {
    margin: 0;
    font-size: 1.1rem;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    margin: 0;
    margin-top: 10px;
}

.social:hover {
    color: #dad9d9;
}

.icon {
    padding-left: 20px;
}





/* MEDIA QUERIES */

@media only screen and (max-width: 720px) {
    .main-nav {
        padding: 20px;
        margin: 0;
    }
    
    .main-nav li a {
        font-size: 0.8rem;
        margin: 0;
        padding: 10px;
    }

    .logo {
        width: 20rem;
    }

    .grid-wrapper {
        justify-content: center;
    }

    .box {
        padding: 15px;
        font-size: 1.1rem;
    }
}